.container {
  display: flex;
  align-items: center;
}

.user {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}

.text {
  margin-left: 0.3rem;
}

.like_button {
  margin-left: auto;
  display: flex;
  border: none;
  background: none;
}

.like_button:hover {
  cursor: pointer;
}
