.form {
  display: flex;
  flex-direction: column;
}

.form > *:not(:last-child) {
  margin-bottom: 1rem;
}

.form > button {
  margin-top: 0.5rem;
}

.login {
  font-size: 0.8rem;
}

.link {
  font-weight: 700;
  color: var(--grey);
  text-decoration: none;
}
