.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  padding: 1rem;
}

.wrapper > *:not(:last-child) {
  margin-bottom: 1rem;
}

.wrapper > button {
  display: block;
  margin-left: auto;
}
