.form > *:not(:last-child) {
  margin-bottom: 1rem;
}

.form > button {
  display: block;
  margin-left: auto;
}

.login {
  font-size: 0.8rem;
}

.link {
  font-weight: 700;
  color: var(--grey);
  text-decoration: none;
}
