.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  border-bottom: 1px solid var(--darker-grey);
  background: var(--white);
  z-index: 100;
}

.logo_link {
  text-decoration: none;
}
