.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
}

.label {
  text-align: right;
  margin-right: 2rem;
  font-weight: 700;
}

.input_wrapper {
  position: relative;
}

.input {
  border: 1px solid var(--darker-grey);
  padding: 0.8rem 1rem;
  font-size: 1rem;
  outline: none;
}

.input:focus {
  border-color: var(--blue);
}

.input_error {
  border-color: var(--red);
}

.error_message {
  position: absolute;
  left: 0;
  bottom: -1rem;
  font-size: 0.8rem;
  color: var(--red);
}
